<h1<>This is a header partial</h1>
<% if (username) { %>
<p><%= username %> is logged in</p>

<form method= "POST" action ="/logout">
 <button type="submit">LOGOUT</button>
</form>

<%} else {%>
    <form method="POST" action="/login" >
        <input type="text" name="username">
        <button type="submit">LOGIN</button>
    </form>

<%} %>



